* {
	box-sizing: border-box;
}

body {
	background-color: #000;
	background-image: url('');
	font-family: Inconsolata, Courier, monospace;
	margin: 0;
}

h2, a {
	color: #fff;
	font-family: Inconsolata, Courier, monospace;
}

.navbar {
	overflow: hidden;
	background-color: #00ff00;
	position: sticky;
	position: -webkit-sticky;
	top: 0;
}

.navbar a {
	float: left;
	display: block;
	color: #000;
	text-align: center;
	padding: 14px 20px;
	text-decoration: none;
}

.navbar a.right {
	float: right;
}

.navbar a:hover {
	background-color: #777;
	color: #000;
}

.navbar a.active {
	background-color: #999;
	color: #fff;
}

.row {  
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.akkoma, .bandwagon, .bonfire, .bookwyrm, .castopod, .diaspora, .firefish, .friendica, .funkwhale, .gotosocial, .gnusocial, .hubzilla, .iceshrimp, .kbin, .lemmy, .lobsters, .loops, .mastodon, .misskey, .mitra, .mobilizon, .neodb, .owncasts, .peertube, .piefed, .pinetta, .pixelfed, .pleroma, .plume, .sharkey, .socialhome, .smithereen, .vidzy, .vernissage, .wafrn, .writefreely, .bsky, .microblog {
	-ms-flex: 10%;
	flex: 10%;
	color: #fff;
	background-color: #000;
	text-align: center;
	margin: auto;
	padding: 40px;
}

@media screen and (max-width: 700px) {
	.row {   
		flex-direction: column;
	}
}

@media screen and (max-width: 400px) {
	.navbar a {
		float: none;
		width: 100%;
	}
}